<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Demo recherche assure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="DemoController">
    <h1>recherche assure</h1>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <form class="navbar-search pull-left" action="">
      <a class="btn" href="#modifQueryModal" role="button" class="btn" data-toggle="modal">Voir / Modifier Requete</a> 
      <input ng-model="request" class="search-query" type="text" >
      <table class="table table-bordered table-striped" style="margin-top: 10px">
        <thead>
          <tr>
            <th>score</th><th>identifiant</th><th>nom assure</th><th>ville</th>
          </tr>
        </thead>{{minScore}}
        <tr ng-class="{'success': assure['_score']>minScore,'info': assure['_score']<minScore}" ng-repeat="assure in assures">
		  <td>{{assure["_score"]}}</td><td>{{assure["_source"].ID}}</td><td>{{assure["_source"].NOMOURAISONSOCIALE}}</td><td>{{assure["_source"].VILLE}}</td>
        </tr>
      </table>

      <div class="modal hide" id="modifQueryModal">
        <div class="modal-header"> <a class="close" data-dismiss="modal">X</a>
          <h3>Modification requete de recherche</h3>
        </div>
        <div class="modal-body">
          <p>
              <textarea ng-model="query" rows="3" style="width: 500px; height: 500px"></textarea>
          </p>
        </div>
        <div class="modal-footer"> 
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a href="#" class="btn" ng-click="initQuery()">Reinit Requete</a>
          <a href="#" class="btn btn-primary" ng-click="saveQuery()">Sauvegarder Requete</a>
        </div>
      </div>

      </form>


  </body>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</html>